<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TAlexConfiguration_ErrorReportUrl" value="http://talex-soft.com/api/ErrorReporting/Send"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
