<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="TAlex.Common" version="1.5.5065.41482" targetFramework="net45" />
  <package id="TAlex.WPF.Controls" version="1.8.5128.39856" targetFramework="net45" />
  <package id="TAlex.WPF.Mvvm" version="1.1.5131.38598" targetFramework="net45" />
</packages>