<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi ?>
  
  <Fragment>
    <Feature Id="Complete" Title="$(var.ProductName)" Description="Complete setup" Display="expand" Level="1" ConfigurableDirectory="INSTALLLOCATION" AllowAdvertise="no" Absent="disallow" InstallDefault="local">
      <Feature Id="Tester" Title="Tester" Description="Tester" Level="1" AllowAdvertise="no" Absent="disallow" InstallDefault="local">
        <ComponentRef Id="CMP_TestcheckCore" />
        <ComponentRef Id="CMP_TesterExecutable" />
        <ComponentRef Id="CMP_TAlexMvvm" />
        <ComponentRef Id="CMP_TAlexMvvmWpf" />

        <ComponentRef Id="CMP_ProgramsMenuShortcuts" />
        <ComponentRef Id="CMP_TesterExecutableDesktopShorctut" />

        <Feature Id="TestExamples" Title="Test Examples" Description="Test Examples" Level="1" AllowAdvertise="no" Absent="allow" InstallDefault="local">
          <ComponentRef Id="CMP_SimpleTest" />
        </Feature>
      </Feature>

      <Feature Id="Editor" Title="Editor" Description="Editor" Level="1001" AllowAdvertise="no" Absent="allow" InstallDefault="local">
        <ComponentRef Id="CMP_EditorExecutable" />
        <ComponentRef Id="CMP_TAlexWPFControls" />
        <ComponentRef Id="CMP_TAlexCommon" />
        <ComponentRef Id="CMP_TAlexCommonDiagnostics" />
        <ComponentRef Id="CMP_Ninject" />
        
        <ComponentRef Id="CMP_EditorProgramsMenuShortcut" />
        <ComponentRef Id="CMP_EditorExecutableDesktopShorctut" />
      </Feature>
    </Feature>
	</Fragment>
</Wix>